# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Upload directory
public/uploads/*
!public/uploads/.gitkeep

# IDE files
.vscode/
.idea/
